.home {
    display: flex;
    background-color: rgba(255, 255, 255, 0.479);
    padding: 2%;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 2%;
    border: solid;
    border-radius: 1rem;
    border-color: rgb(241, 179, 6);
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.712);
}

.home-picture {
    top: 0;
    left: 0;
    transform: none;
    width: 90%;
    position: static;
    margin: 0 auto;
}

.text-highlighted {
    color: rgb(248, 184, 8);
}

.lead {
    font-size: 22px;
}

.featurette-heading {
    font-size: 32px;
}
