@import 'https://use.fontawesome.com/releases/v5.15.2/css/all.css';

.header {
    background-color: rgba(27, 27, 27, 0.904);
    border-radius: 8px;
}

nav {
    margin-bottom: 2%;
}

@media all and (max-width: 768px) {
    nav {
        margin: 0 auto;
    }
}

.container {
    padding: 5px 20px;
    max-width: 1560px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media all and (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .header {
        max-width: 40%;
    }
}

.header .py-2 {
    color: rgb(218, 218, 218);
    transition: ease-in-out color .15s;
}

    .header .py-2 i {
        color: yellow;
        transition: ease-in-out color .15s;
    }

    .header .py-2 :hover {
        color: #fff;
        text-decoration: none;
    }

    .header .py-2 i:hover {
        color: #fff;
        text-decoration: none;
    }
