.trek-details {
    display: block;
    color: rgb(0, 0, 0);
    width: 25%;
    margin: 1.5rem auto 48px auto;
    text-align: center;
    border-radius: 15px;
    font-size: 18px;
    /* padding: 0.5rem 0;   */
    font-weight: bold;
}

.details-img {
    width: 40%;
    height: auto;
    margin: 0 auto;
    position: static;
    top: 0;
    left: 0;
    transform: none;
    border: 1px solid black;
  }

a.trek-details:hover {
    text-decoration: none;
    background: #333;
    color: white;
    border: 2px solid #333;
}